@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");

body {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url("./img/login-background.jpg");
  background-size: cover;
}

.login-section {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  min-width: 20vw;
  padding: 2rem 2rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    rgba(124, 114, 230, 255),
    rgba(170, 60, 150, 255)
  );
  box-shadow: 1rem 1rem 1rem rgba(58, 13, 61, 0.8);
}

.login-image {
  width: 5vw;
  align-self: center;
}

.login-header {
  align-self: center;
  font-family: cursive;
  color: rgb(225, 217, 217);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.field-labels {
  padding: 1rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 0;
}

.login-fields {
  background-color: transparent;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-bottom: thin solid rgb(185, 181, 181);
  outline: none;
}

.login-fields:focus {
  font-weight: 900;
}

#login-button {
  width: 40%;
  align-self: center;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: none;
  font-weight: 700;
}

.dashboard {
  display: flex;
  min-height: 80vh;
  min-width: 80vw;
  flex: 1;
  margin: 0 5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
}

.sidebar {
  background-color: rgb(120, 164, 150);
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 0 0 1rem;
}

.dashboard-content {
  background-color: rgb(140, 151, 148);
  flex: 8;
  display: flex;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem 5rem;
}

.sidebar-header {
  text-align: center;
  font-family: cursive;
  font-size: larger;
  color: whitesmoke;
}

.selections {
  border: none;
  border: 1px solid rgb(206, 203, 203);
  border-right: 0;
  padding: 1rem;
  background-color: rgb(120, 164, 150);
  cursor: pointer;
  font-family: cursive;
  font-size: medium;
}

.table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th {
  font-family: cursive;
  color: whitesmoke;
  background-color: rgb(112, 126, 123);
}

.selections:focus {
  background-color: rgb(140, 151, 148);
  border-left: thick solid rgb(206, 203, 203);
}

.action-button {
  border: none;
  background-color: rgb(140, 151, 148);
  padding: 0 1rem;
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-weight: bolder;
  font-size: medium;
}

.create-button {
  align-self: flex-end;
  width: 15%;
  padding: 0.5rem;
  background-color: green;
  font-size: small;
  margin-bottom: 1rem;
}

.content-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: cursive;
  color: whitesmoke;
}

#modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  border: 2px solid black;
  background-color: rgb(216, 214, 214);
  max-width: 50vw;
  min-width: 30%;

  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(157, 168, 154);
}

label {
  padding: 1rem;
  padding-left: 0;
  text-align: left;
  font-family: cursive;
}

.form-button {
  margin-top: 1rem;
  width: 20%;
  align-self: center;
  border: 0;
  font-family: cursive;
  border-radius: 0.5rem;
  font-weight: bolder;
  font-size: medium;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  font-family: cursive;
}
